<!DOCTYPE html>

<html lang="ro">



<head>

    <title>Pizeria Half-Slice </title>
    <%- include("../fragmente/head") %>
        <meta name="description" content="Bine ati venit la restaurantul nostru unde puteti beneficia de o gama larga de produse">
        <meta name="keywords" content="Meniu,Pizza,Hamburgeri">
</head>

<body>
    <%- include("../fragmente/header") %>;
        <%- include("../fragmente/galerie_statica") %>
            <%- include("../fragmente/galerie_animata") %>



                <%- include("../fragmente/footer") %>

                    <script type="text/javascript" src="/resurse/js/galerie_dinamica.js"></script>
</body>

</html>